{{ define "main" }}
<article class="post">
    <header class="post-header">
        <h1>{{ .Title }}</h1>
        <hr>
        <div class="post-meta">
            <span>{{ .Date.Format "January 2, 2006" }}</span>
            {{ with .Params.tags }}
            <span class="tags">
                &middot; Tags:
                {{ range . }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>
        <hr>
    </header>
    <div class="post-content">
        {{ .Content }}
    </div>
</article>
{{ end }}